<div id="<%= dom_id source %>">
  <p>
    <strong>Name:</strong>
    <%= source.name %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= source.slug %>
  </p>

  <p>
    <strong>Base url:</strong>
    <%= source.base_url %>
  </p>

</div>
