@use "../variables" as *;
@use "../mixins" as *;

button {
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  border: 0;
  color: inherit;
  cursor: pointer;
}

.button {
  display: inline-block;
  background: var(--bg-content-alt);
  padding: 0.5rem 0.75rem;
  border: 0;
  border-radius: $border-radius-small;
  font-family: $font-stack-bold;
  text-transform: lowercase;
  text-decoration: none;
  font-weight: bold;
  color: $white;

  @include hover-grow;

  @include hover-stack {
    background: var(--bg-content-alt--hover);
    color: $white;
  }

  &[disabled] {
    opacity: 0.5;
    cursor: default;
  }

  &--primary {
    background: var(--primary);

    @include hover-stack {
      background: var(--primary--hover);
    }
  }

  &--large {
    border-radius: $border-radius;
    padding: 0.75rem 1rem;
    font-size: $font-size-large;
  }

  &--link {
    padding: 0;
    color: inherit;
    background: transparent;
    font-family: inherit;

    @include hover-stack {
      background: transparent;
      scale: 1;
      text-decoration: underline;
      text-decoration-thickness: 2px;
    }
  }
}
