@use "../variables" as *;
@use "../mixins" as *;

.cover {
  position: relative;
  display: inline-flex;
  margin-top: 0;
  box-shadow: $shadow-huge;
  background: var(--bg-content);

  &::before {
    @include pseudo_fill();
    --color: #{$white};
    width: 80%;
    height: 10px;
    top: auto;
    bottom: 1.5rem;
    left: 10%;
    background: var(--color);
    box-shadow: 0px 0.75rem 1rem 1rem var(--color);

    @include dark() {
      --color: #{$black};
    }
  }

  &::after {
    @include pseudo_fill();
    width: 20%;
    background: linear-gradient(to right, $black, transparent);
    opacity: 0.2;
    z-index: 1;
  }

  img {
    position: relative;
    background: var(--bg-content);
    width: 100%;
    height: auto;
  }
}

.cover__empty {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  aspect-ratio: 300 / 470;
  background: var(--bg-content);

  svg {
    width: 50%;
    height: auto;
  }
}
