@use "sass:map";
@use "../variables" as *;
@use "../mixins" as *;

$gap: #{calc(map.get($breakpoints, max) / 16)};

.detail {
  @include max-width;
  display: grid;
  grid-template:
    "header image"
    "content content"
    "aside aside";
  grid-template-columns: 2fr 1fr;
  align-items: flex-start;
  gap: 0 max($margin * 2, 5vw);
  margin-top: $margin * 8;
  padding-bottom: $margin * 4;

  @include breakpoint(mobile) {
    grid-template:
      "header header"
      "content image"
      "aside aside";
    grid-template-columns: 2fr 1fr;
    gap: 0 $gap;
    margin-top: 0;
  }

  @include breakpoint(max) {
    grid-template:
      "header header header"
      "aside image content";
    grid-template-columns: 1fr 300px 1fr;
  }
}

.detail__header {
  grid-area: header;

  @include breakpoint(mobile) {
    margin: $margin * 10 0 $margin * 8;
    text-align: center;
  }
}

.detail__subheader {
  font-size: $font-size-large;
  font-family: $font-stack-serif;
  opacity: var(--text-color-alt);
}

.detail__names {
  margin-top: $margin;
  font-size: $font-size-large;

  @include breakpoint(mobile) {
    font-size: 1.5rem;
  }

  a {
    color: inherit;
    text-decoration: none;

    @include hover-stack {
      color: inherit;
      text-decoration: underline;
      text-decoration-thickness: 2px;
    }
  }
}

.detail__aside {
  grid-area: aside;
  margin-top: $margin * 8;

  @include breakpoint(max) {
    margin-top: 0;
  }
}

.detail__image {
  z-index: 1;
  position: relative;
  grid-area: image;
  min-height: 10rem;
  width: 100%;
  margin: 0;

  @include breakpoint(mobile) {
    max-width: unset;
  }
}

.detail__content {
  grid-area: content;
  position: relative;
  margin-top: $margin * 8;

  @include breakpoint(mobile) {
    margin-top: 0;
    min-height: 100%;
  }

  @include breakpoint(max) {
    max-width: unset;
  }

  > * {
    z-index: 1;
    position: relative;
  }

  &::after {
    @include pseudo-fill;
    z-index: 0;
    width: 100vw;
    min-height: calc(100% + $gutter * 2);
    top: calc($gutter * -1);
    left: calc($gutter * -1);
    background: var(--bg-standout);

    @include breakpoint(mobile) {
      min-height: calc(100% + $margin * 8);
      top: $margin * -4;
      right: calc(-33% - $gap * 0.5);
      left: auto;
      border-radius: 0 $border-radius-huge $border-radius-huge 0;
    }

    @include breakpoint(max) {
      width: 70vw;
      right: auto;
      left: calc(($gap * -0.5) - (map.get($breakpoints, max) / 3 / 2));
      border-radius: $border-radius-huge 0 0 $border-radius-huge;
    }
  }
}

