@use "sass:map";
@use "../variables" as *;
@use "../mixins" as *;

.filter-columns {
  $gap: $margin * 4;
  display: grid;
  gap: $gap;

  @include breakpoint(desktop) {
    grid-template-columns: min(25vw, calc(map.get($breakpoints, max) * 0.25 - $gap)) auto;
  }
}

.filter-columns__filter {
  position: relative;
  padding: $margin * 2;
  border-radius: $border-radius-large;
  background: var(--bg-standout);

  @include breakpoint(desktop) {
    padding-left: 0;
    border-radius: 0 $border-radius-huge $border-radius-huge 0;
  }

  &::after {
    @include pseudo-fill;
    display: none;
    z-index: 0;
    width: 50vw;
    height: 100%;
    left: auto;
    right: 100%;
    background: var(--bg-standout);

    @include breakpoint(desktop) {
      display: block;
    }
  }
}

.filter-columns__content {
  margin-bottom: auto;
}

// Offset the pagination so that it's height + padding of the content is excluded from the layout.
// Not a great solution, but meh. Targeting .pagination specifically means this is only applied when
// the pagination is actually rendered, as it can be null.
.filter-columns__pagination .pagination {
  margin-bottom: -3rem - $margin * 4;
}
