@use "../variables" as *;
@use "../mixins" as *;

.footer {
  margin-top: $margin * 8;
  background: var(--bg-content);

  @include breakpoint(desktop) {
    margin-top: $margin * 16;
  }
}

.footer__content {
  @include max-width;
  display: flex;
  gap: $margin * 4;
  padding-top: $margin * 4;
  padding-bottom: $margin * 4;
}

.footer__image {
  display: none;
  margin-top: $margin * -16;

  @include breakpoint(desktop) {
    display: block;
  }
}
