@use "../variables" as *;
@use "../mixins" as *;

.footer {
  margin-top: $margin * 8;
  background: var(--bg-content);

  @include breakpoint(desktop) {
    margin-top: $margin * 16;
  }
}

.footer__content {
  @include max-width;
  display: flex;
  gap: $margin * 4;
  padding-top: $margin * 4;
  padding-bottom: $margin * 4;
}

.footer__image {
  display: none;
  margin-top: max($margin * -16, -15vw);
  width: 100%;
  max-width: min(350px, 30vw);

  @include breakpoint(desktop) {
    display: block;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.footer__navigation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 40rem;
  gap: $margin * 4;
}

.footer__column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__item {
  text-decoration: none;
  font-family: $font-stack-bold;
  font-weight: bold;

  @include hover-stack {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
}
