@use "sass:map";
@use "../variables" as *;
@use "../mixins" as *;

.navigation {
  @include max-width;
  display: grid;
  grid-template-columns: 1fr (map.get($breakpoints, max) * 0.5) 1fr;
  align-items: center;
}

.navigation__subtitle {
  margin: 0;
  font-size: $font-size-large;
  font-family: $font-stack-serif;
}

.navigation__items {
  display: flex;
  gap: $margin;
}

.navigation__item {
  padding: 0.5rem 1rem;
  border-radius: $border-radius-rounded;
  background: var(--bg-content);
  font-size: $font-size-large;
  font-family: $font-stack-bold;
  color: var(--text-color-base);
  text-decoration: none;

  @include hover-grow;
  @include hover-stack {
    background: var(--bg-content--hover);
  }
}
