@use "sass:map";
@use "../variables" as *;
@use "../mixins" as *;

.navigation {
  @include max-width;
  overflow-x: auto;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin: -0.25rem auto;

  @include breakpoint(desktop) {
    display: grid;
    grid-template-columns: 1fr (map.get($breakpoints, max) * 0.33) 1fr;
    align-items: center;
  }

  @include breakpoint(max) {
    grid-template-columns: 1fr (map.get($breakpoints, max) * 0.5) 1fr;
  }
}

.navigation__subtitle {
  display: none;
  margin: 0;
  font-family: $font-stack-serif;

  @include breakpoint(desktop) {
    display: block;
  }

  @include breakpoint(large) {
    font-size: $font-size-large;
  }
}

.navigation__items {
  display: flex;
  gap: $margin;
}

.navigation__item {
  padding: 0.25rem 1rem;
  border-radius: $border-radius-rounded;
  background: var(--bg-content);
  font-size: $font-size-large;
  font-family: $font-stack-bold;
  font-weight: bold;
  color: var(--text-color-base);
  text-decoration: none;
  text-transform: lowercase;

  @include hover-grow;

  @include hover-stack {
    position: relative;
    z-index: 200;
    background: var(--bg-content--hover);
  }
}
