@use "../variables" as *;
@use "../mixins" as *;

.pagination {
  display: flex;
  justify-content: center;
  gap: $margin;
  margin-top: $margin * 4;
}

.pagination__item,
.pagination__control {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: $border-radius-small;
  background: var(--bg-content);
  font-size: $font-size-large;
  font-family: $font-stack-bold;
  font-weight: bold;
  text-decoration: none;

  @include hover-stack {
    background: var(--bg-content--hover);
  }
}

.pagination__item {
  &--current {
    background: transparent;
    box-shadow: inset 0 0 0 2px currentColor;
  }
}
