@use "../variables" as *;
@use "../mixins" as *;

.summary {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: flex-start;
  gap: $margin $margin * 2;
}

.summary__label {
  line-height: 1.25rem;
}

.summary__value {
  display: flex;
  flex-wrap: wrap;
  font-size: $font-size-large;
  font-family: $font-stack-bold;
  line-height: 1.5rem;

  a {
    color: inherit;
    text-decoration: none;

    @include hover-stack {
      color: inherit;
      text-decoration: underline;
      text-decoration-thickness: 2px;
    }
  }
}

