@use "../variables" as *;
@use "../mixins" as *;
@use "../functions" as *;

$switch-side-size: 3rem;

.switch {
  position: relative;
  display: flex;
  width: 2.25rem;
  height: 2.25rem;
  background: transparent;
  border-radius: $border-radius-rounded;

  @include breakpoint(mobile) {
    width: auto;
    height: auto;
  }

  @include hover-stack {
    .switch__indicator {
      background: var(--bg-content-alt--hover);
    }
  }
}

.switch__indicator {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: $border-radius-rounded;
  background: var(--bg-content-alt);

  @include breakpoint(mobile) {
    width: $switch-side-size;
    transition: transform 100ms, width 100ms;
  }

  .switch--active & {
    @include breakpoint(mobile) {
      transform: translateX(calc($switch-side-size - $margin));
    }
  }

  .switch--switching & {
    @include breakpoint(mobile) {
      width: 100%;
      transform: none;
    }
  }
}

.switch__side {
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 0.25rem;

  @include breakpoint(mobile) {
    position: relative;
    padding: $margin * 0.5 $margin;
    transition: padding 100ms, color 100ms 50ms;
  }

  &--left {
    color: var(--bg-base);

    @include breakpoint(mobile) {
      z-index: unset;
    }

    @include dark {
      color: inherit;
    }

    .switch--active & {
      z-index: -1;

      @include breakpoint(mobile) {
        padding-left: 0;
        color: inherit;
      }
    }
  }

  &--right {
    z-index: -1;
    padding-right: 0;

    @include breakpoint(mobile) {
      z-index: unset;
    }

    .switch--active & {
      z-index: 1;

      @include breakpoint(mobile) {
        padding-right: $margin;
        color: var(--bg-base);
      }

      @include dark {
        color: inherit;
      }
    }
  }
}
