@use "../variables" as *;
@use "../mixins" as *;

.turbo-progress-bar {
  height: 0.25rem;
  border-radius: 0 $border-radius $border-radius 0;
  background: var(--primary);
  box-shadow: 0 0 2rem var(--primary);
}
