<% content_for :title, "Search for #{params[:query]}" %>

<section class="layout">
  <h2 class="heading" aria-level="1">Resultaten voor <em>"<%= params[:query] %>"</em></h2>

  <div class="items">
    <%= render @books %>
  </div>

  <% if @books.empty? %>
    <em class="font-large">Hmm, we konden niets vinden. Misschien kan je het onder een andere naam vinden?</em>
  <% end %>
</section>
