<%= render "admin/layout", heading: "Edit listing #{@listing.id} for #{@listing.book.title}" do %>
  <%= render "form", listing: @listing %>

  <br>

  <div>
    <%= link_to "Show this listing", [:admin, @listing] %> |
    <%= link_to "Back to listings", admin_listings_path %>
  </div>
<% end %>
