.line-clamp {
  overflow: hidden;
  display: -webkit-box;
  line-clamp: var(--lines, 15);
  -webkit-line-clamp: var(--lines, 15);
  -webkit-box-orient: vertical;

  &.expanded {
    display: block;
  }

  @for $i from 1 through 3 {
    &--line-#{$i} {
      --lines: #{$i};
    }
  }
}
