<%= content_for :page_title, @author.name %>

<div class="layout">
  <h1 class="heading">Boeken door <span class="wavy-underline"><%= @author.name %></span></h1>

  <div class="cards">
    <%= render collection: @books, partial: "books/card", as: :book, cached: true %>
  </div>
</div>
