<section class="layout layout--thin">
  <h1 class="heading">Over GewoonBoeken.nl</h1>

  <p>
    Er is zo ontzettend veel keuze: tientallen webshops die hetzelfde boek verkopen. Wanneer je op zoek bent naar de beste prijs, is het afgaan van elke verkoper niet waar je je mee bezig wilt houden. GewoonBoeken.nl vergelijkt de prijzen van alle grote boekenwebshops in Nederland (en omgeving!) en zet ze op een rij om jou direct inzicht te geven in waar jij je geld wellicht aan wilt uitgeven.
  </p>

  <p>
    Nieuw, tweedehands en licht beschadigde boeken — we proberen ze allemaal bij te houden. Wij geven de conditie van ieder boek aan, zodat jij direct weet waar je aan toe bent. Tweedehands is vaak goedkoper, maar niet altijd beschikbaar, en soms is nieuw toch ook wel fijn.
  </p>

  <p>
    Het bijhouden van zoveel boeken is niet niks! Wij proberen de status van elke verkoper zo nauwkeurig mogelijk bij te werken, met bijna iedere dag wel een nieuwe controle. Zo laten wij in de meeste gevallen de meest actuele status zien. We hebben nog niet alle boeken geïndexeerd, maar zijn hard bezig om er zoveel mogelijk op onze website te tonen, zowel Engelse als Nederlandse boeken.
  </p>
</section>
