<div class="faq">
  <h2 class="faq__heading">Nog wat vragen?</h2>

  <details class="faq__item">
    <summary class="faq__question">
      Waar is dit boek het goedkoopst te vinden?
      <%= inline_svg_tag "images/icons/icon-caret-down.svg", width: 27, height: 27 %>
    </summary>

    <div class="faq__answer">
      <p>Het bloemenmeisje, door Anya Niewierra, is het allergoedkoopst bij Boekenbalie, voor maar 5,00 euro. Dit boek word tweedehands verkocht. Daarnaast is het ook nieuw te vinden bij Bol.com voor 9,50 euro.</p>

      <p>Ook is het te vinden bij Amazon voor 11,50 (nieuw), Bruna voor 11,50 (nieuw), en De Slegte voor 11,50 (tweedehands).</p>
    </div>
  </details>

  <details class="faq__item">
    <summary class="faq__question">
      Wat betekend het als het boek staat aangegeven als beschadigd?
      <%= inline_svg_tag "images/icons/icon-caret-down.svg", width: 27, height: 27 %>
    </summary>

    <div class="faq__answer">
      <p>Antwoord</p>
    </div>
  </details>

  <details class="faq__item">
    <summary class="faq__question">
      Door wie is dit boek geschreven?
      <%= inline_svg_tag "images/icons/icon-caret-down.svg", width: 27, height: 27 %>
    </summary>

    <div class="faq__answer">
      <p>Antwoord</p>
    </div>
  </details>

  <details class="faq__item">
    <summary class="faq__question">
      Wanneer is dit boek uitgebracht?
      <%= inline_svg_tag "images/icons/icon-caret-down.svg", width: 27, height: 27 %>
    </summary>

    <div class="faq__answer">
      <p>Wanneer is dit boek uitgebracht?</p>
    </div>
  </details>
</div>
