<section class="layout">
  <h1 class="heading wavy-underline mb-0">Alle boeken</h1>

  <div class="filter-columns mt-8">
    <aside class="filter-columns__filter">
      <h2>Conditie</h2>

      <p>Nieuw</p>
      <p>Licht beschadigd</p>
      <p>Tweedehands</p>

      <h2>Formaat</h2>

      <p>Hardcover</p>
      <p>Paperback</p>
      <p>Overigen</p>

      <h2>Taal</h2>

      <p>Nederlands</p>
      <p>Engels</p>
    </aside>

    <section class="filter-columns__content cards">
      <%= render collection: @books, partial: "books/card", as: :book %>
    </section>
  </div>

  <%= paginate @books, theme: :simple, window: 2 %>
</section>
