<h1>Books</h1>

<hr>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <%= link_to "Show this book", book %>
    <hr>
  <% end %>
</div>

<%= paginate @books, theme: :simple, window: 2 %>
