@use "../variables" as *;

input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.form-input {
  display: block;
  background: var(--bg-content);
  border: 0;
  padding: $margin $margin * 1.5;
  border-radius: $border-radius-small;
  font-size: 1rem;
}
