@mixin light_variables {
  color-scheme: light;
  --bg-base: #f6f3ea;
  --text-color-base: #5d4037;
}

@mixin dark_variables {
  color-scheme: dark;
  --bg-base: #232323;
  --text-color-base: #ccc;
}

:root {
  @include light_variables();

  @media (prefers-color-scheme: dark) {
    @include dark_variables();
  }
}

[style*="color-scheme: light"] {
  @include light_variables();
}

[style*="color-scheme: dark"] {
  @include dark_variables();
}

html,
body {
  background: var(--bg-base);
  color: var(--text-color-base);
}

a {
  color: #ff00ff;
}
