@keyframes curtain {
	from {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
	}

	to {
    clip-path: polygon(var(--theme-toggle-clip-path));
	}
}

::view-transition-old(changing-theme) {
	animation: 400ms curtain;
	z-index: 10;
}

::view-transition-new(changing-theme) {
	z-index: 5;
}
