@use "functions" as *;

$black: #000;
$white: #fff;

$margin: px-to-rem(10);

$border-radius-small: 0.5rem;
$border-radius: 0.75rem;
$border-radius-large: 1rem;
$border-radius-huge: 2rem;
$border-radius-rounded: 1.5rem;

$font-size-small: px-to-rem(14);
$font-size-base: px-to-rem(16);
$font-size-large: px-to-rem(18);
$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-stack-serif: "Caladea", serif;
$font-stack-bold: "Bricolage Grotesque", $font-stack;

$breakpoints: (
  tiny: 400px,
  mobile: 640px,
  tablet: 768px,
  desktop: 900px,
  large: 1000px,
  max: 1200px
);

$shadow-huge:
  -6px 6px 8px rgba($black, 0.1),
  -12px 12px 16px rgba($black, 0.1),
  -24px 24px 32px rgba($black, 0.2),
  -36px 36px 48px rgba($black, 0.1),
  -48px 48px 64px rgba($black, 0.2);

@mixin light_variables {
  --primary: #ff5b29;
  --primary--hover: #ff693c;
  --bg-base: #f6f3ea;
  --bg-content: #d7cfc6;
  --bg-content--hover: #dfd8d1;
  --bg-content-alt: #5d4037;
  --bg-content-alt--hover: #493028;
  --bg-standout: #{$white};
  --text-color-base: #5d4037;
}

@mixin dark_variables {
  --primary: #b300ff;
  --primary--hover: #be2ffc;
  --bg-base: #1f1e1d;
  --bg-content: #3d3a37;
  --bg-content--hover: #5f5c59;
  --bg-content-alt: #5f5c59;
  --bg-content-alt--hover: #75726e;
  --bg-standout: #141413;
  --text-color-base: #e7e5db;
}
