<footer class="footer">
  <div class="footer__content">
    <div class="footer__image">
      <%= vite_image_tag "images/doodle-stack-dark.png", width: 350, alt: "", class: "dark-only", loading: "lazy" %>
      <%= vite_image_tag "images/doodle-stack-light.png", width: 350, alt: "", class: "light-only", loading: "lazy" %>
    </div>

    <div class="footer__info">
      <h2>GewoonBoeken.nl</h2>

      <nav>
        <%= link_to "Over ons", about_path %>
      </nav>
    </div>
  </div>
</footer>
