<div class="navigation">
  <p class="navigation__subtitle">
    De beste prijzen zonder gedoe
  </p>

  <nav class="navigation__items">
    <%= link_to "Books", books_path, class: "navigation__item" %>

    <%= link_to "Admin", admin_root_path, class: "navigation__item" if current_user.present? %>
  </nav>
</div>
